<h1>Application</h1>
<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip %></p>
<p>Description: <%= @application.description %></p>
<p>Petscription: <%= @application.petscription %></p>
<p>Status: <%= @application.status %></p>