<h3><%= @application.name %></h3>
<p><%= @application.petscription%></p>

<% @pets.each do |pet| %>
  <% pet_id, pet_name, pet_status %>
  <div id="pet-<%= pet_id %>">
    <%= pet_name %>
    <% if pet_status == 'Approved' %>
      <span>Approved</span>
    <% elsif pet_status == 'Rejected' %>
      <span>Rejected</span>
    <% else %>
      <%= button_to "Approve", approve_admin_application_pet_path(@application, pet_id), method: :patch %>
      <%= button_to "Reject", reject_admin_application_pet_path(@application, pet_id), method: :patch %>
    <% end %>
  </div>
<% end %>
