<%= render "partials/form" %>

<% if @pending_pets.any? %>
  <h2>Pending Pets</h2>
  <ul>
    <% @pending_pets.each do |pet| %>
      <li>
        <%= pet.name %>
        <%= form_with model: pet_application, url: "/admin/applications/#{pet_application.id}", local: true, method: :patch do |form| %>
          <%= form.hidden_field :pet_status, value: "Approved" %>
          <%= form.submit "Approve #{pet.name} for Adoption" %>
        <% end %>

        <%= form_with model: pet_application, url: "/admin/applications/#{pet_application.id}", local: true, method: :patch do |form| %>
          <%= form.hidden_field :pet_status, value: "Rejected"  %>
          <%= form.submit "Reject #{pet.name} for Adoption" %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @rejected_pets.any? %>
  <h2>Rejected Pets</h2>
  <ul>
    <% @rejected_pets.each do |pet| %>
      <li><%= pet.name %></li>
    <% end %>
  </ul>
<% end %>

<% if @approved_pets.any? %>
  <h2>Approved Pets</h2>
  <ul>
    <% @approved_pets.each do |pet| %>
      <li><%= pet.name %></li>
    <% end %>
  </ul>
<% end %>