<h3><%= @application.name %></h3>
<p><%= @application.petscription%></p>

<% @approved_pets.each do |pet| %>
  <div id="approved-pet-<%= pet.id %>">
    <%= pet.name %><span>Approved</span>
  </div>
<% end %>
<% @rejected_pets.each do |pet| %>
  <div id="rejected-pet-<%= pet.id %>">
    <%= pet.name %><span>Rejected</span>
  </div>
<% end %>
<% @pending_pets.each do |pet| %>
  <div id="pending-pet-<%= pet.id %>">
    <%= pet.name %>
    <%= button_to "Approve", "/admin/applications/#{@application.id}/approve" %>
    <%= button_to "Reject", "/admin/applications/#{@application.id}/reject" %>
  </div>
<% end %>
